* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.profile-image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
  border: 3px solid #fff;
}
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  padding: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}

.hero {
  height: 100vh;
  background: url("hero-image.jpg") no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(0, 0, 0);
}

.hero-content h1 {
  font-size: 3em;
}

.hero-content .highlight {
  color: #333;
}

.hero-content p {
  margin: 20px 0;
  font-size: 1.5em;
}

.cta-button {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border: none;
  text-decoration: none;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #555;
}

.about,
.projects,
.contact {
  padding: 60px 20px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  font-size: 2.5em;
}

.about p,
.projects p,
.contact p {
  font-size: 1.2em;
  max-width: 600px;
  margin: 0 auto;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.project-item {
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.project-button {
  display: inline-block;
  padding: 5px 30px;
  background-color: #333; /* Warna hijau */
  color: rgb(255, 255, 255);
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.project-button:focus,
.project-button:active {
  text-decoration: underline; /* Garis bawah saat diklik atau fokus */
}
.project-button:hover {
  background-color: #555;
}

.project-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.project-item h3 {
  margin: 15px 0;
}

form {
  max-width: 500px;
  margin: 0 auto;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  padding: 10px 20px;
  border: none;
  background-color: #333;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #555;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-top: 40px;
}
